# Node.js
node_modules/

# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby/bundler
/vendor
Gemfile.lock

# React Native
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
